@import url('reset.css');

h1 {
    font-size: 24px;
    font-family: Arial;
}

body {
    background-color: #fbf8f1;
}

table.board {
    display: block;
    margin: 0px auto 0 auto;
    width: 420px;
    height: 420px;
}
td.tile {
    border: 1px solid #000;
    margin: 0 0 0 -4px;
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}

table#analize td {
    padding: 1px 4px;
    border: 1px solid #eee;
}